/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    padding: 20px;
    font-size: 18px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Dashboard Styling */
  .dashboard {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .spacer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .column, .employee-details .container {
    flex: 1;
    text-align: center;
  }
  
  .employee-details {
    display: flex;
    flex-direction: column;
  }
  

  .container {
    display: flex;
    justify-content: space-between;
    background-color: #424242;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Sprints and Photos Styling */
  .sprintContainer, .photoContainer {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .sprintContainer .todo, .photoContainer img {
    margin: 10px 0;
  }
  
  .photoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Space between photos */
  }
  
  .photoContainer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .spacer, .container {
      flex-direction: column;
      text-align: center;
    }
  
    .photoContainer {
      justify-content: center;
    }
  }
  